
{% extends "base.html" %}

{% block body %}
   


    <div class="container mt-5 p-5">

        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">User Name</th>
                <th scope="col">Email</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>
                    <button class="btn btn-success">View</button>
                  <button class="btn btn-danger">Delete</button></td>
                  </td>
              </tr>
              
            </tbody>
          </table>

    </div>
 
    {% endblock %}