
{% extends "base.html" %}

{% block body %}
    <!-- Hero Section-->
    <section style="height: 200px;background: url({{url_for('static', filename='img/hero.jpg')}}); background-size: cover; background-position: center center" class="hero">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <h1 class="text-uppercase">Something great going to happen!</h1><a href="#" class="hero-link">Discover More</a>
          </div>
        </div><a href=".intro" class="continue link-scroll"><i class="fa fa-long-arrow-down"></i> Scroll Down</a>
      </div>
    </section>
    <!-- Intro Section-->
    <!-- <section class="intro">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <h2 class="h3">Some great intro here</h2>
            <p class="text-big">Place a nice <strong>introduction</strong> here <strong>to catch reader's attention</strong>. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderi.</p>
          </div>
        </div>
      </div>
    </section> -->



    <section class="featured-posts no-padding-top">
      <div class="container">
        <h2 class="text-center text-uppercase m-5">Blog Post</h2>
        <!-- Post-->
        {% for post in posts %}
        {% if (loop.index %  2 != 0) %}
        <div class="row d-flex align-items-stretch">
          <div class="text col-lg-7">
            <div class="text-inner d-flex align-items-center">
              <div class="content">
                <header class="post-header">
                  <div class="category"><a href="#">Business</a><a href="#">Technology</a></div>
                  <a href="detail-post/{{post.post_id}}">
                   <h2 class="h4">{{post.title}}</h2></a>
                </header>
               <p>{{post.content [:200] | safe}}</p>
               <!-- <button class="btn btn-primary">Read Post</button> -->
                <footer class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="avatar"><img src="{{url_for('static',filename='img/avatar-1.jpg')}}" alt="..." class="img-fluid"></div>
                    <div class="title"><span>{{post.author}}</span></div></a>
                
                   

                    <div class="date" id="date"><i class="icon-clock"></i> 
                      {{post.created_at | safe}}
                 
                  </div>
                  <div class="comments"><i class="icon-comment"></i>12</div>
                </footer>
              </div>
            </div>
          </div>
         
          <div class="image col-lg-5" style="height: 200px;">
            <img src="/static/image/{{post.img}}" alt="...">
          </div>
        </div>



        {% else  %}
        <!-- Post        -->
        <div class="row d-flex align-items-stretch">
          <div class="image col-lg-5"><img style="height: ;" src="/static/image/{{post.img}}" alt="..."></div>
          <div class="text col-lg-7">
            <div class="text-inner d-flex align-items-center">
              <div class="content">
                <header class="post-header">
                  <div class="category"><a href="#">Business</a><a href="#">Technology</a></div>
                  <a href="detail-post/{{post.post_id}}">
                    <h2 class="h4">{{post.title}}</h2>
                  </a>
                </header>
              <p>{{post.content [:200] | safe}}</p>
                <footer class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="avatar"><img src="{{url_for('static',filename='img/avatar-1.jpg')}}" alt="..." class="img-fluid"></div>
                    <div class="title text-uppercase" ><span>{{post.author}}</span></div></a>
                  <div class="date"><i class="icon-clock"></i> {{post.created_at | safe}}</div>
                  <div class="comments"><i class="icon-comment"></i>12</div>
                </footer>
              </div>
            </div>
          </div>
        </div>

        {% endif %}
       {% endfor %}
 </div>
 </section>
 

    {% endblock %}